* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(-45deg, #19d3d1 5%, #57abf2);
    background-color: #57abf2;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    margin: auto;
}

img {
    max-width: 100%;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 30px;

}

.search input {
    border-radius: 10px;
}

.recipe-card {
    display: inline-block;
    background: #fff;
    height: 500px;
    max-width: 496px;
    width: 350px;
    margin: 40px;
    border-radius: 5px;
    overflow-x: scroll;
}

.recipe-card aside {
    position: relative;
}

.recipe-card aside img {
    border-radius: 5px;
}

.recipe-card aside .button {
    background-color: #57abf2;
    position: absolute;
    display: inline-block;
    top: 80%;
    right: 2%;
    width: 4em;
    height: 4em;
    border-radius: 4em;
}

.recipe-card aside .button .icon {
    vertical-align: middle;
}


.recipe-card article {
    padding: 1em 1em;
}

.recipe-card article ul {
    list-style: none;
    margin: 0.5em 0 0;
    padding: 0;
}

.recipe-card article ul li {
    display: block;
    margin: 1em;
    line-height: 0.25em;
}

.recipe-card article ul li .icon {
    vertical-align: bottom;
}

.recipe-card article h2 {
    margin: 0;
    font-weight: 300;
    font-size: 1.75em;
    color: #222222;
}

.recipe-card article h3 {
    margin-top: 0.5em;
    font-weight: 300;
    font-size: 1em;
    color: #222222;
}

.recipe-card article p {
    margin: 0.75em 0;
    font-weight: 400;
    font-size: 1.5em;

}

.recipe-card article p span {
    color: #000000;
    font-weight: 700;
}

.recipe-card article .ingredients {
    margin: 1em 0 1em;
}

.recipe-card .icon {
    display: inline;


}