* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(-45deg, #19d3d1 5%, #57abf2);
    background-color: #57abf2;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    margin: auto;
}

img {
    max-width: 100%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


.search {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 30px;
}

.search input {
    border-radius: 10px;
}

.search .button {
    background-color: #B5B4D9;
    width: 80px;
    border-radius: 10px;
    margin-left: 10px;
}

.search .button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.recipe-card {
    background: #fff;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    overflow: hidden;
}

.recipe-card aside {
    position: relative;
}

.recipe-card aside img {
    width: 100%;
    height: auto;
    display: block;
}


.recipe-card aside .button {
    background-color: #57abf2;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-card article {
    padding: 1em 1em;
}

.recipe-card article ul {
    list-style: none;
    margin: 0.5em 0 0;
    padding: 0;
}

.recipe-card article ul li {
    display: block;
    margin: 1em;
    line-height: 0.25em;
}

.recipe-card article h2 {
    margin: 0;
    font-weight: 300;
    font-size: clamp(1.3rem, 2vw, 1.75rem);
    color: #222222;
}

.recipe-card article h3 {
    margin-top: 0.5em;
    font-weight: 300;
    font-size: 1em;
    color: #222222;
}

.recipe-card article p {
    margin: 0.75em 0;
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.3rem);

}

.recipe-card article p span {
    color: #000000;
    font-weight: 700;
}

.recipe-card article .ingredients {
    margin: 1em 0 1em;
}

.recipe-card aside .button svg {
    width: 50px;
    height: 80px;
}

.recipe-card aside .button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

@media (max-width: 768px) {
    .search {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        height: auto;
    }

    .search .button {
        width: 120px;
    }
}

@media (max-width: 480px) {

    body {
        font-size: 0.9rem;
    }

    .cards {
        padding: 10px;
    }

    .recipe-card {
        max-width: 100%;
    }

    .recipe-card aside .button {
        width: 50px;
        height: 50px;
    }

    .recipe-card aside .button svg {
        width: 20px;
        height: 20px;
    }
}