* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #57abf2;
    background-image: linear-gradient(-45deg, #19d3d1 5%, #19d3d1);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    /* 1rem = 16px */
}

.recipies {
    background-color: #fff;
    display: inline-block;
    margin: 30px;
    width: 300px;
    max-width: 490px;
    height: 500px;
    overflow-y: scroll;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}